@charset "ISO-8859-1";

    body {
        background-color: #14e21e;
        font-family: century gothic;
        margin: 0;
        height: 100%;
    }
    p {
        display: inline;
    }

    #masc_loc {
        margin-top: 5%;
    }


    .contenitore {
        padding-top: 2%;
        background-color: #f2f087;
        border-style: solid;
        border-width: 10px;
        border-color: #f2ba21;
        width: 90%;
        margin: auto;
        overflow: auto;
    }

    #title {
        display: block;
        margin-left: 30%;
        width: 25%;
        margin-bottom: 5%;
    }

    .elements {
        float: left;
        width: 68%;
    }
 

    #mascotte {
        width: 30%;
        height: auto;
        display: block;
        float: left;
        padding-left: 2%;
    }

   #icon {
        width: 75%;
        margin: auto;

    }
    #image_text {
        margin: auto;
        text-align: center;
        font-size: 0.8em;
        color: #FF0000;
    }

    #cont {
        float: left;
    }

#gioco3, #gioco3t {
    padding-top: 2%;
}
    .scelta {
        background-color: #FFCC66;
        height: auto;
        width: 14%;
        text-align: center;
        float: left;
        padding-top: 2%;
        padding-left: 2%;
        padding-right: 2%;
        padding-bottom: 2%;
        border-width: 2px;
        border-style: solid;
        border-color: white;
        margin-left: 3%;
        margin-bottom: 5%;
        height: inherit;
    }
    .scelta1 {
        background-color: #FFCC66;
        height: auto;
        width: 35%;
        float: left;
        padding-top: 5%;
        padding-left: 5%;
        padding-bottom: 5%;
        border-width: 2px;
        border-style: solid;
        border-color: white;
        margin-left: 5%;
        margin-bottom: 5%;
        height: inherit;
    }

    #diff_text {
        display: block;
        color: #FF0000;
        font-size: 1em;
        margin-left: 10%;

    }
    #difficulty {
        font-size: 1em;
        float: left;
        padding: 3%;
        margin-left: 10%;
        margin-top: 5%;
        width: 30%;
        background-color: #FF5FFF;
        border-style: solid;
        border-color: #C200FF;
    }


    #spiega_text {
        display: block;
        color: #FF0000;
        font-size: 20px;
        margin-left: 50%;
        margin-top: 17%;
    }

    #back {
        font-size: 12px;
        padding: 1.5%;
        margin-left: 60%;
        margin-top: 4%;
        width: 30%;
        margin-bottom: 10%;
        margin-right: 10%;
        background-color: #CCFFFF;
        border-style: solid;
        border-color: #0033FF;
    }

#icon_gametype {
    width: 70%;
    margin-left: 8%;
    align-content: center;
    height: auto;
}


    #gametype_txt {
        display: block;
        color: #FF0000;
        margin-left: 8%;

    }

#table_touch {
    width: 42%;
    height: auto;
}

#table {
    padding-left: 38%;
    padding-top: 28%;
    position: absolute;
    display: block;
}

#pyramid_container {
    width: 20%;
    height:auto;
    margin-top: 8%;
    margin-left: 17%;
    position: absolute;
}
.pyr {
    width: 94%;
    height: auto;
}

#arrow {
    width: 80%;
    display: none;
}

#cursor {
    float: left;
    margin-top: 30%;
    width: 10%;
    height: auto;
}

#planes {
    width: 90%;
    float: left;
}

#pyr4 {
    padding-left: 3%;
    display: none;

}
#pyr5 {
    padding-bottom: 1%;
    display: none;
}

#pyr3, #pyr4{
    width: 92%;
    height: auto;
    display: none;
}

#pyr1, #pyr2 {
    display: none;
}

#bin {
    width: 13%;
    position: absolute;
    height: auto;
    display: none;
    margin-top: 30.5%;
    margin-left: 63%;
}


.feedbk {
    width: 45%;
    display: none;
    
}

#feedback_touch {
    position: absolute;
    margin-left: 40%;

    margin-top:5%;
}

#choice_container, #tick_container {
    position: absolute;
    margin-left:36%;
    width:32%;
    height: auto;
    text-align: center;
    margin-top: 21%;
}

.choice, .ticks {
    width: 30%;
    height: auto;
    margin-right: 2%;
}


#choice1, #choice2, #choice3, #tick1, #tick2, #tick3 {
    display: none;
}

#daytime_container {
    width: 60%;
    display: none;
    margin-left: 17%;
    margin-top: 6%;
    position: absolute;
    height: auto;
}

#warning-message {
    display: none; 
}
@media only screen and (orientation:portrait){
    #all { display:none; }
    body { background: white;}
    #warn { padding: 5%;
        padding-top: 30%;
        width: 50%;
    }
    #warntxt {
        padding: 5%;
        font: century gothic;
        color: white;
    }
    #warning-message { display:block; 
    text-align: center;}
   
}
    
@media only screen and (orientation:landscape){
    #warning-message { display:none; }
 }



.day {
    width: 18%;
    margin-left: 1%;
    height: auto;
}

.exp {
    color: white;
    font-size: 1em;
    display: none;
    margin-left: 20%;
    margin-top: 10%;
    width: 40%;
    position: absolute;
    }

.play-button {
  position: absolute;
  display: inline-block;
  cursor: default;
  margin-left: 48%;
  margin-top: 18%;
}

#mask {
    margin-top: 7%;
    width: 18%;
    height: auto;
    margin-left: 18%;
    display: none;
    position: absolute;
}

#finalptstouch {
    color: white;
    margin-top: 10%;
    font-size: 1em;
    position: absolute;
    margin-left: 35%;
}


#allergy_choices1 {
    width: 40%;
    margin-left: 18%;
    margin-top: 5%;
    height: auto;
    position: absolute;
}

#allergy_choices2 {
    width: 40%;
    margin-left: 18%;
    margin-top: 13%;
    height: auto;
    position: absolute;
}

#allergy_choices3 {
    width: 40%;
    margin-left: 18%;
    margin-top: 21%;
    height: auto;
    position: absolute;
}

#allergy_choices4 {
    width: 40%;
    margin-left: 18%;
    margin-top: 29%;
    height: auto;
    position: absolute;
}


.allergy_choice {
    display: none;
    margin-right: 2%;
    width: 15%;
    border-style: solid;
    border-color: #ffffcc;
    border-width: 1%;
}


#counter_container {
    width: 10%;
    display: none;
    height: auto;
    text-align: center;
    position: absolute;
    margin-left: 55%;
    margin-top: 8%;
}

#counter {
    font-size: 2.5em;
    color: white;
}
#counter_txt {
    font-size: 1em;
    color: white;
}

#confirm {
    display: none;
    position: absolute;
    width: 10%;
    text-align: center;
    font-size: 0.8em;
    color: white;
    height: auto;
    border-color: white;
    border-width: 0.7%;
    border-style: solid;
    background-color: #ffaa27;
    padding: 0.7%;
    margin-left: 55%;
    margin-top: 19%;
}

#result {
    font-size: 1em;
}





