@charset "ISO-8859-1";

    body {
        background-color: #14e21e;
        font-family: century gothic;
        margin: 0;
        height: 100%;
    }
    p {
        display: inline;
    }

    #masc_loc {
        margin-top: 5%;
    }


    .contenitore {
        padding-top: 5%;
        background-color: #f2f087;
        border-style: solid;
        border-width: 10px;
        border-color: #f2ba21;
        width: 90%;
        margin: auto;
        overflow: auto;
    }

    #title {
        display: block;
        margin-left: 30%;
        width: 25%;
        margin-bottom: 5%;
    }

    .elements {
        float: left;
        width: 75%;
    }


   .elements {
        width: 75%;
    }

 

    #mascotte {
        width: 23%;
        height: auto;
        display: block;
        float: left;
        padding-left: 2%;
    }

   #icon {
        width: 75%;
        margin: auto;

    }
    #image_text {
        margin: auto;
        text-align: center;
        color: #FF0000;
    }

    #cont {
        float: left;
    }

    .scelta {
        background-color: #FFCC66;
        height: auto;
        width: 20%;
        float: left;
        padding-top: 5%;
        padding-left: 5%;
        padding-bottom: 5%;
        border-width: 2px;
        border-style: solid;
        border-color: white;
        margin-left: 5%;
        margin-bottom: 5%;
        height: inherit;
    }
    .scelta1 {
        background-color: #FFCC66;
        height: auto;
        width: 30%;
        float: left;
        padding-top: 5%;
        padding-left: 5%;
        padding-bottom: 5%;
        border-width: 2px;
        border-style: solid;
        border-color: white;
        margin-left: 5%;
        margin-bottom: 5%;
        height: inherit;
    }

    #diff_text {
        display: block;
        color: #FF0000;
        font-size: 20px;
        margin-left: 10%;

    }
    #difficulty {
        font-size: 20px;
        float: left;
        padding: 3%;
        margin-left: 10%;
        margin-top: 5%;
        width: 150px;
        background-color: #FF5FFF;
        border-style: solid;
        border-color: #C200FF;
    }


    #spiega_text {
        display: block;
        color: #FF0000;
        font-size: 20px;
        margin-left: 50%;
        margin-top: 17%;
    }

    #back {
        font-size: 12px;
        padding: 1.5%;
        margin-left: 60%;
        margin-top: 4%;
        width: 30%;
        margin-bottom: 10%;
        margin-right: 10%;
        background-color: #CCFFFF;
        border-style: solid;
        border-color: #0033FF;
    }

#icon_gametype {
    width: 70%;
    margin-left: 8%;
    align-content: center;
    height: auto;
}


    #gametype_txt {
        display: block;
        color: #FF0000;
        font-size: 20px;
        margin-left: 8%;

    }

#table_touch {
    width: 42%;
    height: auto;
}

#table {
    padding-left: 38%;
    padding-top: 25%;
    position: absolute;
    display: block;
}

#pyramid_container {
    width: 20%;
    height:auto;
    margin-top: 8%;
    display: none;
    margin-left: 19%;
    position: absolute;
}
.pyr {
    width: 94%;
    height: auto;
}

#pyr4 {
    padding-left: 3%;

}
#pyr5 {
    padding-bottom: 1%;
}

#pyr3, #pyr4{
    width: 92%;
    height: auto;
}

#bin {
    width: 13%;
    position: absolute;
    height: auto;
    display: none;
    margin-top: 30.5%;
    margin-left: 63%;
}

.feedbk {
    width: 40%;
    display: none;
    
}

#feedback_touch {
    position: absolute;
    margin-left: 40%;

    margin-top:3%;
}


