

#diff_text {
    display: block;
    color: #FF0000;
    font-size: 20px;
    margin-left: 30%;
    
}
#difficulty {
    font-size: 20px;
    float: left;
    padding: 3%;
    margin-left: 10%;
    margin-top: 5%;
    width: 150px;
    background-color: #FF5FFF;
    border-style: solid;
    border-color: #C200FF;
}


